.coaching {
  margin-top: 20vh;
  height: auto;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  .coachingContenedor {
    width: 100%;
    height: 100%;
    max-width: 1080px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .text {
    flex: 1;
  }
  .botoneCoaching {
    display: flex;
    align-self: start;
    justify-content: center;
  }
  .card1,
  .card2 {
    text-align: left;
    color: white;
    box-sizing: content-box;
    flex: 1;
    max-width: 267px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    max-height: 440px;
    cursor: pointer;
  }
  .card1 {
    background-color: #d4007f;
  }
  .card2 {
    background-color: #008bb7;
  }
  .coachingTexto {
    padding: 1rem;
  }

  .coachingTexto h3 {
    font-size: 1.5rem;
    font-weight: lighter;
    margin: 0px;
  }
}

.textGradient {
  text-transform: uppercase;
  text-align: left;
  /* Set the background color */
  background: linear-gradient(to right, #d40d7f 0%, #1c8bb6 100%);
  /* Mask the color to the text, and remove the rest  */
  -webkit-background-clip: text;
  background-clip: text;
  /* Make the text fill color value transparent so the masked background color comes through */
  -webkit-text-fill-color: transparent;
}

.coachingHead {
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 4rem;
    font-weight: lighter;
    margin: 0px;
    padding: 0px;
  }
}
.rosa {
  color: #d40d7f;
  font-size: 1.4rem;
  font-weight: bolder;
}

.azul {
  color: #008bb7;
  font-size: 1.2rem;
  font-weight: bolder;
}
