* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'voxregular_14';
  src: url('../fonts/vox_bold_italic-webfont.woff') format('woff2'),
    url('/fonts/vox_bold_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'voxregular_15';
  src: url('../fonts/vox_bold-webfont.woff2') format('woff2'),
    url('../fonts/vox_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'voxregular';
  src: url('../fonts/vox_italic-webfont.woff2') format('woff2'),
    url('../fonts/vox_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'voxregular_13';
  src: url('../fonts/vox_light_italic-webfont.woff2') format('woff2'),
    url('../fonts/vox_light_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'voxregular_3';
  src: url('../fonts/vox_light-webfont.woff2') format('woff2'),
    url('../fonts/vox_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'voxregular_17';
  src: url('../fonts/vox_medium_italic-webfont.woff2') format('woff2'),
    url('../fonts/vox_medium_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'voxregular_19';
  src: url('../fonts/vox_medium-webfont.woff2') format('woff2'),
    url('../fonts/vox_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'voxregular_11';
  src: url('../fonts/vox_semibold_italic-webfont.woff2') format('woff2'),
    url('../fonts/vox_semibold_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'voxregular_16';
  src: url('../fonts/vox_semibold-webfont.woff2') format('woff2'),
    url('../fonts/vox_semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'voxregular_5';
  src: url('../fonts/vox_wide_bold_italic-webfont.woff2') format('woff2'),
    url('../fonts/vox_wide_bold_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'voxregular_2';
  src: url('../fonts/vox_wide_bold-webfont.woff2') format('woff2'),
    url('../fonts/vox_wide_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'voxregular_7';
  src: url('../fonts/vox_wide_italic-webfont.woff2') format('woff2'),
    url('../fonts/vox_wide_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  background-image: url('../fonts/../img/bg-grey.png');
  background-image: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  padding: 0;
  margin: 0;
  font-family: 'voxregular_19';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'voxregular_15';
  font-weight: normal;
  font-style: normal;
}

ul,
ol {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #d40d7f; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

li {
  counter-increment: list;
  list-style-type: none;
  position: relative;
}

/* Output the numbers using the counter() function, but use a custom color, and position the numbers how we want */
ol li:before {
  color: #d40d7f;
  content: counter(list) '.';
  left: -32px;
  position: absolute;
  text-align: right;
  width: 26px;
}

.textGradient {
  text-transform: uppercase;
  text-align: left;
  /* Set the background color */
  background: linear-gradient(to right, #d40d7f 0%, #1c8bb6 100%);
  /* Mask the color to the text, and remove the rest  */
  -webkit-background-clip: text;
  background-clip: text;
  /* Make the text fill color value transparent so the masked background color comes through */
  -webkit-text-fill-color: transparent;
}

.form-section {
  //background-image: url('./img/bg-formd.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  min-height: 100vh;
  height: 100% auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  font-size: calc(7px + 2vmin);
  color: #d40d7f;
  text-align: left;
  box-sizing: border-box;
  padding: 1rem;
  .contenedor {
    width: 100%;
    margin: auto;
    max-width: 1080px;
    text-align: left !important;
    box-sizing: border-box;
  }
  form {
    box-sizing: border-box;
    margin: auto;
    font-family: 'voxregular_13';
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column;
    width: 100%;
    max-width: 700px;
    .group-form {
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 1rem;
    }
    input,
    textarea {
      font-family: 'voxregular_13';
      padding: 0.5rem;
      width: 90%;
      margin: auto;
      outline: none;
      border: none;
      border-radius: 0.2rem;
    }
  }
}

.btn-submit{
  background-color: #d40d7f;
  color: white;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  font-family: 'voxregular_13';
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover{
    background-color: #1c8bb6;
    color: white;
  }
}