@font-face {
  font-family: 'voxregular_14';
  src: url('../fonts/vox_bold_italic-webfont.woff') format('woff2'),
    url('/fonts/vox_bold_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'voxregular_15';
  src: url('../fonts/vox_bold-webfont.woff2') format('woff2'),
    url('../fonts/vox_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'voxregular';
  src: url('../fonts/vox_italic-webfont.woff2') format('woff2'),
    url('../fonts/vox_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'voxregular_13';
  src: url('../fonts/vox_light_italic-webfont.woff2') format('woff2'),
    url('../fonts/vox_light_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'voxregular_3';
  src: url('../fonts/vox_light-webfont.woff2') format('woff2'),
    url('../fonts/vox_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'voxregular_17';
  src: url('../fonts/vox_medium_italic-webfont.woff2') format('woff2'),
    url('../fonts/vox_medium_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'voxregular_19';
  src: url('../fonts/vox_medium-webfont.woff2') format('woff2'),
    url('../fonts/vox_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'voxregular_11';
  src: url('../fonts/vox_semibold_italic-webfont.woff2') format('woff2'),
    url('../fonts/vox_semibold_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'voxregular_16';
  src: url('../fonts/vox_semibold-webfont.woff2') format('woff2'),
    url('../fonts/vox_semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'voxregular_5';
  src: url('../fonts/vox_wide_bold_italic-webfont.woff2') format('woff2'),
    url('../fonts/vox_wide_bold_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'voxregular_2';
  src: url('../fonts/vox_wide_bold-webfont.woff2') format('woff2'),
    url('../fonts/vox_wide_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'voxregular_7';
  src: url('../fonts/vox_wide_italic-webfont.woff2') format('woff2'),
    url('../fonts/vox_wide_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  background-image: url('../fonts/../img/bg-grey.png');
  background-image: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  padding: 0;
  margin: 0;
  font-family: 'voxregular_19';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'voxregular_15';
  font-weight: normal;
  font-style: normal;
}

ul,ol {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #d40d7f; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}


 li {
  counter-increment: list;
  list-style-type: none;
  position: relative;
}

/* Output the numbers using the counter() function, but use a custom color, and position the numbers how we want */
ol li:before {
  color: #d40d7f;
  content: counter(list) ".";
  left: -32px;
  position: absolute;
  text-align: right;
  width: 26px;
}
