@font-face {
  font-family: 'Vox';
  src: url('/fonts/VoxRegular.ttf') format('ttf'),
    
}

html,
body {
 
  background-image: url('../img/bg-grey.png');
  background-image: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  padding: 0;
  margin: 0;
  font-family: 'Vox';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

