@import './libs/mixins';
.section {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15vh;
  height: 100%;
  min-height: 90vh;

  .contenedor {
    display: flex;
    margin: auto;
    max-width: 1080px;
    width: 100%;
    flex-flow: column;
    @include phone {
      flex-direction: column;
    }
    .texto,
    .botones {
      flex: 1;
    }
    .texto {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
    }
    .botones {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
    }
    .botonr a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #d4007f;
      color: white;
      padding: 1rem;
      text-transform: uppercase;
      box-sizing: border-box;
    }
    .boton a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #008bb7;
      color: white;
      padding: 1rem;
      text-transform: uppercase;
      box-sizing: border-box;
    }
  }
}
.contenedorl {
  display: flex;
  margin: auto;
  max-width: 1080px;
  width: 100%;
  @include phone {
    flex-direction: column;
    text-align: center;
  }
  .texto,
  .botones {
    flex: 1;
  }
  .texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .botones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  .botonr a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d4007f;
    color: white;
    padding: 1rem;
    text-transform: uppercase;
    box-sizing: border-box;
  }
  .boton a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #008bb7;
    color: white;
    padding: 1rem;
    text-transform: uppercase;
    box-sizing: border-box;
  }
}
.rosa {
  color: #d4007f;
}

.azul {
  color: #008bb7;
}

.selector {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1080px;

  .selectorItemr {
    text-align: center;
    background-color: #d4007f;
    color: white;
    width: 100%;
    padding: 3rem 1rem;
    cursor: pointer;
  }
  .selectorItema {
    text-align: center;
    background-color: #008bb7;
    color: white;
    width: 100%;
    padding: 3rem 1rem;
    cursor: pointer;
  }
}
.textGradient {
  text-transform: uppercase;
  text-align: left;
  /* Set the background color */
  background: linear-gradient(to right, #d40d7f 0%, #1c8bb6 100%);
  /* Mask the color to the text, and remove the rest  */
  -webkit-background-clip: text;
  background-clip: text;
  /* Make the text fill color value transparent so the masked background color comes through */
  -webkit-text-fill-color: transparent;
}

.iconHead {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectorhead {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1080px;
  flex-flow: column;
  h2 {
    margin: 1rem;
    font-size: calc(1.5rem + 0.5vw);
    font-weight: bold;
    color: #008bb7;
  }
}
.back {
  position: absolute;
  top: 15vh;
  left: 5%;

  &:hover {
    cursor: pointer;
    color: #d4007f;
  }
}
